/.idea
/MeCCG.zip
/.gccg/
/.gccg - copia/
/metw/graphics/Metw/AgainstShadow/
/metw/graphics/Metw/Balrog/
/metw/graphics/Metw/DarkMinions/
/metw/graphics/Metw/Dragons/
/metw/graphics/Metw/LidlessEye/
/metw/graphics/Metw/Promo/
/metw/graphics/Metw/Promo_de/
/metw/graphics/Metw/WhiteHand/
/metw/graphics/Metw/Wizards/
/metw/graphics/Metw/Firstborn/
/core/vardump
/metw/graphics/Metw - español/
/metw/graphics/Metw - english/
/core/vardump
